.main-container {
  max-width: 980px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

.main-container ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 60px;
}

.main-container ul li {
  display: flex;
  flex-direction: column;
}

.main-container ul li .cards{
  flex: 1;
  background: #fff;
}

.main-container ul li .cards:hover{
  transform: scale(1.02);
  transition: 0.2s;
  box-shadow: 5px 5px 11px #dedede;
}

.main-container ul li img {
  max-width: 100%;
}

.main-container ul li footer {
  flex: 1;
  background: #fff;
  padding: 15px 20px;
  text-align: left;
  border-radius: 0 0 5px 5px;
}

.main-container ul li footer strong {
  font-size: 16px;
  color: #333;
}

.main-container ul li footer p {
  font-size: 14px;
  line-height: 20px;
  color: #999;
  margin-top: 5px;
}

.main-container ul li .buttons {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.main-container ul li .buttons button {
  height: 50px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0,0.05);
  border: 0;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
}

.main-container ul li .buttons button:hover img {
  transform: translateY(-5px);
  transition: all 0.2s;
}

.main-container .empty {
  font-size: 32px;
  color: #999;
  font-weight: bold;
  margin-top: 300px;
}

.match-container {
  position: absolute;
  top: 0;
  padding-top: 8%;
  padding-bottom: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  background: rgba(0, 0, 0, 0.8);
}

.match-container img {
  width: 230px;
}

.match-container .avatar{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: solid 5px #fff;
  margin: 30px 0;
}

.match-container strong{
  font-size: 23 px;
  color: #fff;
}

.match-container p {
  margin-top: 10px;
  font-size: 17px;
  line-height: 30px;
  max-width: 400px;
  color: rgba(255, 255, 255, 0.8);
}

.match-container button {
  border: solid 1px rgba(255, 255, 255, 0.8);
  padding: 10px 33px;
  background: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
}