.menu {
  position: fixed;
  width: 100%;
  height: 80px;
  display: grid;
  flex-direction: column;
  align-content: center;
  align-items: end;
  background: #fff;
  box-shadow: 0px -5px 30px #c3c3c3;
  z-index: 1;
}

.menu .user-icon {
  max-width: 300px;
  width: 238px;
  display: flex;
  flex-direction: row;
  transition-duration: 0.3s;
}

.menu .user-icon:hover {
  transform: scale(1.03);
  margin-left: 5px;
}

.menu ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.menu ul li {
  display: flex;
  flex-direction: column;
}

.menu ul li.left {
  flex-direction: row-reverse;
  align-content: center;
  align-items: center;
}

.menu ul li.user-icon span.border-effect {
  width: 0px;
  height: 0;
  border: 23px solid transparent;
  display: block;
  margin-left: -25px;
  border-right-color: #df4723;
  border-radius: 0px 0px 0px 0px;
}

.menu ul li.user-icon .content {
  width: 100%;
  height: 45px;
  background: #df4723;
  padding-left: 10px;
  display: flex;
  align-items: center;
  margin-left: -4px;
  align-content: center;
  border-radius: 8px 30px 30px 8px;
}

.menu ul li.user-icon .content img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 2px #fff;
}

.menu ul li.user-icon .content strong {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding-left: 8px;
}

.menu ul li.left a {
  padding-right: 30px;
  text-decoration: none;
  font-size: 30px;
  color: #df4723;
  align-items: center;
  align-content: center;
  display: flex;
  cursor: pointer;
}

.menu ul li.left a strong {
  font-size: 17px;
  padding-right: 9px;
  font-weight: bold;
  align-items: left;
  font-family: sans-serif;
}

.main-container {
  max-width: 980px;
  position: relative;
  margin: 0 auto;
  padding: 50px 0;
  top: 85px;
  text-align: center;
}

.main-container ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 60px;
}

.main-container ul li {
  display: flex;
  flex-direction: column;
}

.main-container ul li .cards{
  flex: 1;
  background: #fff;
}

.main-container ul li .cards:hover{
  transform: scale(1.02);
  transition: 0.2s;
  box-shadow: 5px 5px 11px #dedede;
}

.main-container ul li img {
  max-width: 100%;
}

.main-container ul li footer {
  flex: 1;
  background: #fff;
  padding: 15px 20px;
  text-align: left;
  border-radius: 0 0 5px 5px;
}

.main-container ul li footer strong {
  font-size: 16px;
  color: #333;
}

.main-container ul li footer p {
  font-size: 14px;
  line-height: 20px;
  color: #999;
  margin-top: 5px;
}

.main-container ul li .buttons {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.main-container ul li .buttons button {
  height: 50px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0,0.05);
  border: 0;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
}

.main-container ul li .buttons button:hover img {
  transform: translateY(-5px);
  transition: all 0.2s;
}

.main-container .empty {
  font-size: 32px;
  color: #999;
  font-weight: bold;
  margin-top: 300px;
}

.match-container {
  position: fixed;
  top: 0;
  padding-top: 8%;
  padding-bottom: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  background: rgba(0, 0, 0, 0.8);
}

.match-container img {
  width: 230px;
}

.match-container .avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: solid 5px #fff;
}

.match-container strong{
  font-size: 24px;
  color: #fff;
}

.match-container p {
  font-size: 17px;
  line-height: 30px;
  max-width: 400px;
  color: rgba(255, 255, 255, 0.8);
}

.match-container button {
  border: solid 1px transparent;
  background: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  cursor: pointer;
}